<div _style="border-top:1px solid gray"><TABLE width="96%" border="0,0,0,1" cellspacing="0" cellpadding="0"> 
	<tr style="width=5em">
	    <td  align=left >
			<span class="blockTitleAnnex">Nouvelles</span>
	    </td>
	</tr>
	<% rownum = 0 %>
	<!--  @news = News.all(:limit =>3, :conditions => "datetime >= #{Date.today.to_s(:db)}", :order => "datetime desc" ) -->
	<% @news = News.new.light_news() %> 
    <% @news.each do |news_item| %>
	<% rownum = rownum  + 1 %>
	<tr valign=top 	 <%=h row_alternate_style(rownum)%> >
			<td width=auto style="paddi	ng-left:2px">	
			<% link_to(news_item_path(news_item) ) do %>
				<%=h news_item.title  %> 
			<% end %>	
        </td>
    </tr>
	    <tr valign=top 	 <%=h row_alternate_style(rownum)%> >
		<td align=right width=auto style="padding-right:2px">
			<span  style="text-align:right;"> <%=h news_item.datetime.to_date %></span>   
		</td>
    </tr>

    <% end %>
		  
		  <tr>  <td  align=right>
			<% link_to("/news")  do %>
				<span _class="blockTitleAnnex">Toutes les nouvelles</span>
			<% end %>
	    </td>
		</tr>
			<tr style="width=5em">
	    <td  align=left height="24px">
			<span class="blockAnnexFooter"></span>
	    </td>
	</tr>	
</table>

</div>